body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.wrap {
  width: 1000px
  margin: 0 auto
}
/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial {
  float: left;
/*  margin-right: auto;
  margin-left: auto;*/
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid  #6495ED;
  background-color: #6495ED;
}
/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */  
.progress-radial .overlay {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #F0F8FF;
  border-radius: 50%;
  margin-left: 25px;
  margin-top: 25px;
  text-align: center;
  line-height: 150px;
  font-size: 60px;
 }

.progress-0 {
  background-image: linear-gradient(90deg, #F0F8FF 50%, transparent 50%, transparent), linear-gradient(90deg, #6495ED 50%, #F0F8FF 50%, #F0F8FF);
}
.progress-25 {
  background-image: linear-gradient(90deg, #F0F8FF 50%, transparent 50%, transparent), linear-gradient(180deg, #6495ED 50%, #F0F8FF 50%, #F0F8FF);
}

.progress-50 {
  background-image: linear-gradient(90deg, #F0F8FF 50%, transparent 50%, transparent), linear-gradient(270deg, #6495ED 50%, #F0F8FF 50%, #F0F8FF);
}

.progress-75 {
  background-image: linear-gradient(270deg, #6495ED 50%, transparent 50%, transparent), linear-gradient(180deg, #F0F8FF 50%, transparent 50%, transparent);
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 5px;
  }
  .container-narrow > hr {
    margin: 15px 0;
  }
  .jumbotron {
    padding: 40px 20px;
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
    }
  .jumbotron h1 {
    font-size: 50px;
    line-height: 1;
  }
  .jumbotron p {
    font-size: 18px;
  }
  .counter-section h2 {
    font-size: 30px;
    line-height: 1;
  }
}



/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  .container-narrow > hr {
    margin: 15px 0;
  }
  .jumbotron {
      padding: 40px 20px;
      margin-top:   -20px; /* Offset bottom margin on .navbar */
      margin-right: -20px;
      margin-left:  -20px;
  }
  .jumbotron h1 {
    font-size: 40px;
    line-height: 1;
  }
  .jumbotron p {
    font-size: 16px;
  }
  .counter-section h2 {
    font-size: 28px;
    line-height: 1;
  }
}



