body {
  padding-top: 20px;
  padding-bottom: 40px;
}



/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 5px;
  }
  .container-narrow > hr {
    margin: 15px 0;
  }
  .jumbotron {
    padding: 40px 20px;
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
    }
  .jumbotron h1 {
    font-size: 50px;
    line-height: 1;
  }
  .jumbotron p {
    font-size: 18px;
  }
  .counter-section h2 {
    font-size: 30px;
    line-height: 1;
  }
}



/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  .container-narrow > hr {
    margin: 15px 0;
  }
  .jumbotron {
      padding: 40px 20px;
      margin-top:   -20px; /* Offset bottom margin on .navbar */
      margin-right: -20px;
      margin-left:  -20px;
  }
  .jumbotron h1 {
    font-size: 40px;
    line-height: 1;
  }
  .jumbotron p {
    font-size: 16px;
  }
  .counter-section h2 {
    font-size: 28px;
    line-height: 1;
  }
}



