html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Work sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/*##########################################*/
/*######## GENERAL TYPOGRAPHY ##############*/
/*##########################################*/

h1, h2, h3, h4, h5, h6 {
  color: #2d3238;
  color: #45494d;
}



h1 {
  font-size:30px;
  line-height:30px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 50px;
    line-height:50px;
  }
}

h2 {
  font-size:26px;
  line-height:26px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 44px;
    line-height:44px;
  }
}

h3 {
  font-size:22px;
  line-height:22px;
  margin: 20px 0;
}
@media (min-width: 768px) {
  h3 {
    font-size: 28px;
    line-height:28px;
  }
}

h5 {
  font-size:14px;
  line-height:14px;
  /*font-weight: 500;*/
}
@media (min-width: 768px) {
  h5 {
    font-size: 15px;
    line-height:15px;
  }
}




p {
  font-size:14px;
  color:#222;
}
@media (min-width: 768px) {
  p {
    font-size: 15px;
  }
}

p.lead {
  font-size:18px;
  line-height:22px;
  color:#acabaa;
}
@media (min-width: 768px) {
  p.lead {
    font-size: 30px;
    line-height:40px;
  }
}

p.large {
  font-size:18px;
}
@media (min-width: 768px) {
  p.large {
    font-size: 19px;
  }
}

p.description {
  font-size: 13px;
  color: #bec8ce;
}
@media (min-width: 768px) {
  p.description {
    font-size: 14px;
  }
}








/*##########################################*/
/*######## DIV'S & BLOCKS ##################*/
/*##########################################*/



section.section-white {
  color: #6c6f73;
  background-color: #fff;
}

section.section-tan {
  background-color: #f7f5f2;
}

section.section-grey {
  background-color: #2e3133;
  color: #888;
}



section.intro {
  background-image: url("../img/home/bg-temp-2.jpg");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  overflow:hidden;
  position:relative;
  text-align:center;
  padding:13rem 1.5rem;
}
@media (min-width: 768px) {
  section.intro {
    padding:22rem  1.5rem;
  }
}

section.intro .quick-game-buttons {
  padding: 4rem 0 0 0;
  font-size: 14px;
  color: #fff;
  text-shadow:0 1px 2px rgba(0,0,0,0.4);
}
@media (min-width: 768px) {
  section.intro .quick-game-buttons {
    font-size: 19px;
  }
}


section.intro .quick-game-buttons span {
  padding: 0 1.5rem 0 0;
}

section.intro .quick-game-buttons button {
  background: #3498db;
  border: 1px solid #3498db;
  /*background: transparent;*/
  /*border: 1px solid #fff;*/
  padding: 1rem 1.1rem;
  margin: .5rem 1.5rem;
  color: #fff;
  text-shadow:0 1px 2px rgba(0,0,0,0.4);
  border-radius: 4px;
}
section.intro .quick-game-buttons button:hover {
  background: #369ee4;
}
@media (min-width: 768px) {
  section.intro .quick-game-buttons button {
    padding: 1.3rem 1.5rem;
  }
}

section.intro h1 {
  font-size:34px;
  line-height:34px;
  color:#fff;
  text-shadow:0 1px 2px rgba(0,0,0,0.4);
  margin-bottom:2rem
}
@media (min-width: 768px) {
  section.intro h1 {
    font-size: 56px;
    line-height:56px;
  }
}

section.intro p {
  font-size:17px;
  line-height:22px;
  color: rgba(255,255,255,0.9);
  text-shadow:0 1px 2px rgba(0,0,0,0.4);
  margin-bottom:2rem
}
@media (min-width: 768px) {
  section.intro p {
    font-size: 25px;
    line-height:32px;
  }
}





section.newest-promo p {
  line-height: 26px;
  padding: 0;
  margin: 2.5rem 0;
  text-align:center;
}
section.newest-promo p span.label {
  font-size: 15px;
  font-weight: 300;
  margin: 0 1rem 0 0;
}
section.newest-promo p a {
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 300;
  margin: 0 0 0 1rem;
}




section.games {
  text-align:center;
  border-top: 1px solid #e0deda;
  padding: 5rem 0;
}




section.about {
  padding: 3em 1.5em 0 1.5em;
}

section.about p.description {
  padding: 0;
}



section.footer {
  padding: 3rem 0;
}
section.footer h4 {
  font-size: 15px;
  color: #fff;
}
section.footer p {
  margin: 0;
  padding: 0;
}
section.footer p a {
  font-size: 14px;
  text-decoration: none;
  color: #888;
}


/*.footer {
  margin-top: 20px;
}

.footer a{
  color: #fff;
}*/

.adsense-footer {
  padding-top: 20px;
  text-align: center;
}

/*##########################################*/
/*######## NAV - MAIN ######################*/
/*##########################################*/

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 14px;
  margin-top: 14px;
  border: 1px solid transparent;
}

.navbar-dwc li a {
  color: #afafaf;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
}
.navbar-dwc li a:hover {
  background-color: transparent;
}

.navbar-dwc a.navbar-brand p {
  color: #2e3133;
  font-size: 22px;
  letter-spacing: -1px;
}

.navbar-dwc .navbar-toggle {
  border-color: #45494d;
}
.navbar-dwc .navbar-toggle .icon-bar {
  background-color: #45494d;
}




/*##########################################*/
/*######## HELPER CLASSES ##################*/
/*##########################################*/

.center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.text-muted {
  color:#6c6f73;
}



.pad-left {
  padding: 0 0 0 1em;
}

.pad-left {
  padding: 0 1em 0 0;
}

.pad-sides {
  padding: 0 1em;
}

.pad-top {
  padding: 3em 0 0 0;
}

.pad-top-lg {
  padding: 10em 0 0 0;
}

.pad-bottom {
  padding: 0 0 3em 0;
}

.pad-bottom-sm {
  padding: 0 0 1em 0;
}

.pad-bottom-lg {
  padding: 0 0 10em 0;
}

.pad-both {
  padding: 3em 0 3em 0;
}

.pad-both-sm {
  padding: 1em 0 1em 0;
}

.pad-both-lg {
  padding: 10em 0 10em 0;
}



.counter {
  text-align: center;
}

.counter h1{
  font-size: 38px;
  line-height: 1;
}




/*##########################################*/
/*######## GAME STYLES #####################*/
/*##########################################*/

/* Bar container */
.progress-radial {
  float: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid  #6495ED;
  background-color: #6495ED;
}

/* Optional centered circle w/text */  
.progress-radial .overlay {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #F0F8FF;
  border-radius: 50%;
  margin-left: 23.3px;
  margin-top: 23.3px;
  text-align: center;
  line-height: 150px;
  font-size: 60px;
 }

 .card-counter {
  font-size: 38px;
 }
.card-description {
  /*font-size: 18px;*/
 }













/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 5px;
  }
  .container-narrow > hr {
    margin: 15px 0;
  }
  .jumbotron {
    padding: 40px 20px;
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
    }
  .jumbotron h1 {
    font-size: 30px;
    line-height: 1;
  }
  .jumbotron p {
    font-size: 18px;
  }
  .counter-section h2 {
    font-size: 32px;
    line-height: 1;
  }
}



/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  .container-narrow > hr {
    margin: 15px 0;
  }
  .jumbotron {
    padding: 40px 20px;
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
  }
  .jumbotron h1 {
    font-size: 30px;
    line-height: 1;
  }
  .jumbotron p {
    font-size: 16px;
  }
  .progress-radial {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid  #6495ED;
    background-color: #6495ED;
  }
  /* -------------------------------------
   * Optional centered circle w/text
   * ------------------------------------- */  
  .progress-radial .overlay {
    width: 123px;
    height: 123px;
    background-color: #F0F8FF;
    border-radius: 50%;
    margin-left: 11.5px;
    margin-top: 11.5px;
    text-align: center;
    line-height: 123px;
    font-size: 30px;
  }

  .counter h1{
    font-size: 30px;
    line-height: 1;
  }
}



