<div class="container">
    <div class="row"
      <div class="col-md-12">
        <p class="upper description">About d.w.c.</p>
        <h3>Drunk With Chuck isn't just about getting drunk</h3>
        <p class="large text-muted">Games like Kings Cup and Power Hour aren't just a great way to get inebriated. For Chuck they've been a way to connect with friends, laugh a lot, and enjoy the finer things in life.</p>
        <div class="row">
          <div class="col-sm-6">
            <h5 class="dark">Our Mission</h5>
            <p class="text-muted">To create a high quality resource, by providing the best drinking game information and applications possible.</p>
          </div><!-- .col -->
          <div class="col-sm-6">
            <h5 class="dark">Our Vision</h5>
            <p class="text-muted">To shape an inovative community for drinking game enthusiasts.</p>
          </div><!-- .col -->
        </div><!-- .row -->
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->