<div class="container container-narrow">

  <div class="row">
      <h3>Game Overview</h3>
      <p>Beer pong is one of the most well known social drinking games. Teams take turns tossing ping pong balls into beer filled cups. The main objective is to eliminat the other teams cups by landing a ball in every cup.</p>
      <div class="row">
        <h3>What You'll Need</h3>
        <div class="col-md-3">
          <img src="img\bp\bp-supplies.png">
        </div>
        <div class="col-md-9">
          <ul>
            <li>10 cups</li>
            <li>4 beers</li>
            <li>2 ping pong balls</li>
            <li>A sturdy table</li>
          </ul>
        </div> <!-- .col -->   
      </div> <!-- .row -->
      
      
      <h3>How to Play</h3>
      <p>This is always a topic of debate. Everyone has their own rules for playing beer pont. See Chuck's House Rules below for our recommendation.</p>
  </div><!-- .row -->


  <hr>


  <div class="row">
      <h3>Chuck's House rules</h3>
      <p>These rules originated from house parties at Western Oregon University. Credit goes to Jeff McClay for compiling the list of rules.</p>
      <ol>
        <li>
          Cup Formation - Start with 10 cups in a pyramid formation, next is 6 in the pyramid, then 3, I-formation at 2, last cup is centered. Shooting team must call for the re-formation of the cups when it is their turn to shoot. If one player shoots before reformation is called for they must wait till it is their next turn to get it.
        </li>
        <li>
          Turns - Each player on a team gets a chance/has to shoot, they cannot forfeit their shot to their teammate. If all players on the team make a shot that team gets the balls back and shoot again. If the shooting players make the same cup they get balls back and the other team must drink one extra cup (total of 3); the shooting team may request that the first made ball be pulled out of the cup before the next shot.
        </li>
        <li>
          Bounce - If a player on the shooting team bounces the ball on the table and it lands in the other teams cups, the defending team must drink 2 cups.
        </li>
        <li>
          Defense - The ball cannot be touched while it is in the air. Once the ball hits any surface (table or cups) the ball is fair game (this includes if the shooting player tries to bounce the ball into the cup) and can be blocked. The defending team has the ability to “pick” the ball out of the cup if it is spinning with their fingers but the ball/fingers cannot touch the liquid in the cup; if anything is wet the shot counts as a made cup.
        </li>
        <li>
          Money Shot - If a shooting player makes their shot into the drink cup (any cup the opposing team is drinking out of) of the opposing team the game is over, no matter how many cups are still on the table!
        </li>
        <li>
          End Game - Once the final cup is made by a team the game is over. However, the “losing” team has the chance to make a rebuttal shot, they have one shot to make a cup, if it is made the game keeps going if they miss it is over. If all teammates make the last cup on the shooting team there is no chance for a rebuttal shot.
        </li>
      </ol> <!-- .list -->
  </div> <!-- .row -->
  


  <hr>



  <div class="row">
      <h3>Common Rule Variations</h3>
      <ul>
        <li>
          Celebrity Shot - At the beginning of a players turn to shoot, they can call a Celebrity Shot and choose to have someone else shoot for them.
        </li>
        <li>
          Rebound/Gentelman's Shot - There are a few variations of this rule, but they're all essentually the same idea. When a shooter misses a cup, sometimes the ball will stay on the table. As long as the ball is on the table its considered "live." Either team can try retreive the ball. If the shooting team retreives the ball the original shooter is granted a rebound shot. This allows the shooter to make another shot, but with some kind of stipulation. Examples: shooting behind the back, shooting with non dominate hand (shoot left handed, if right handed).
        </li>
      </ul>
  </div> <!-- .row -->      
  

  <hr>


  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <h3>Example Cup Formations</h3>
        <p>Below are some examples of common cup formations.</p>
        <div class="col-md-4">
          <h3>10 Cup Pyramid</h3>
          <img src="img\bp\bp-10.png" class="thumbnail">
        </div>
        <div class="col-md-4">
          <h3>6 Cup Pyramid</h3>
          <img src="img\bp\bp-6.jpg" class="thumbnail">
        </div>
        <div class="col-md-4">
          <h3>3 Cup Pyramid</h3>
          <img src="img\bp\bp-3.jpg" class="thumbnail">
        </div>     
      </div><!-- .row-->
      <div class="row">
        <div class="col-md-4">
          <h3>I Formation</h3>
          <img src="img\bp\bp-3.jpg" class="thumbnail">
        </div>
        <div class="col-md-4">
          <h3>Diamond</h3>
          <img src="img\bp\bp-diamond.png" class="thumbnail">
        </div>
        <div class="col-md-4">
          <h3>Stop Light</h3>
          <img src="img\bp\bp-stop.jpg" class="thumbnail">
        </div>          
      </div>
    </div><!-- .col -->
  </div><!-- .row -->



  <hr>

  <div class="row">
    <div class="col-md-12">
      <p>Have a fun house rule? Want to contribute to the site? Send Chuck an <a href="mailto:drunkwithchuck@gmail.com" target="_blank">email</a>.</p>
    </div><!-- .col -->
  </div><!-- .row -->


</div>
