<div class="container container-narrow container-game">


  <!-- Gamer Header -->
  <div ng-include='"templates/game-header.html"'></div>

  <hr>

  <div class="row">
        <button class="btn btn-success btn-lg" role="button" ng-click="start() | trackEvent:'Boxing':'Start button clicked'" ng-disabled="disableStart">Start</button>
        <button class="btn btn-danger btn-lg" role="button" ng-click="stop() | trackEvent:'Boxing':'Stop button clicked'" ng-disabled="disableStop">Stop</button>
        <button class="btn btn-info btn-lg" role="button" ng-click="roll() | trackEvent:'Boxing':'Roll button clicked'" ng-disabled="disableRoll">Roll</button>
        <button class="btn btn-info btn-lg pull-right" role="button" ng-click="reset() | trackEvent:'Boxing':'Reset button clicked'">Reset</button>
        <div class="row center">
          <div class="col-md-4">
            <h3>{{timerHeading}}</h3>
            <h4>{{minCount}}:{{secCount | numberFixedLen:2}}</h4>
          </div>
          <div class="col-md-4" ng-show="showIntermission">
            <h3>Break</h3>
            <h4>{{intSecCount}}</h4>
          </div><!-- .col -->
          <div class="col-md-4">
            <h3>Roll Results</h3>
            <div class="row">
              <div class="col-md-6">
                <h4>Player 1</h4>
                <img src="img/dice/{{p1Die}}.svg" width="100" ng-show="showDice">
              </div>
              <div class="col-md-6">
                <h4>Player 2</h4>
                <img src="img/dice/{{p2Die}}.svg" width="100" ng-show="showDice">
              </div>
            </div>
            
          </div><!-- .col -->              
        </div><!-- .row center -->
  </div><!-- .row -->


  <hr>


  <div class="row">
    <h1><span class="glyphicon glyphicon-user badge" aria-hidden="true"> 2-4</span></h1>
      <h3>Game Overview</h3>
      <p>Boxing is a fun team base game. The game works best with teams of 2, but can be played with teams of 1. Boxers (drinkers) compete in 3 minute rounds until the opposing boxer pukes or quits. The cornermen (non drinking team members) help fill shot glasses during rounds and provide much needed moral support.</p>
      <h3>What You'll Need</h3>
      <ul>
        <li>2 shot glasses</li>
        <li>Alcohol of choice</li>
        <li>2 dice (virtual dice porvided below)</li>
        <li>A stopwatch/timer (provided below)</li>
      </ul>
      <h3>How to Play</h3>
      <p>The cornermen for each team fill the boxers shot glass. Each boxer takes the first shot and starts the timer, then rolls the dice. The boxer that rolls the lowest number has to drink. The cornermen quickly fill the shot glasses again and the boxers roll the dice again. This repeats for 3 minutes. After 3 minutes the boxers get a 1 minute break before starting another round.</p>
  </div><!-- .row -->
</div><!-- .container -->
