<div class="container container-narrow container-game">
  <dir class="row game-header">
      <h5><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 4+ <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 2-3m <span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Moderate </h5> 
  </dir>

  <div class="row">

      
      <h3>Game Overview</h3>
      <p>Flip cup is a great game to start a party or take a break from beer pong or other games.</p>      

  </div>

  <hr>


  <div class="row">
    <div class="col-md-12">
      <p>Want to contribute to the site? Send Chuck an <a href="mailto:drunkwithchuck@gmail.com" target="_blank">email</a>.</p>
    </div><!-- .col -->
  </div><!-- .row -->


</div>
