<section class="game-header section-tan">
  <div class="container">
    <div class="row">

      <div class="col col-md-9">
        <h1>Flip Cup</h1>
        <p>Last updated February 2016</p>
      </div> <!-- .col -->


      <div class="col col-md-3">
        <span class="pull-right">
          <p>Players: 4+</p>
          <p>Time: 2-3m</p>
          <p>Dificulty: Moderate</p>            
        </span>
      </div> <!-- .col -->


    </div> <!-- .row -->  
    
  </div>
</section>

<!-- <section class="fc-intro">
  
</section> -->

<div class="container container-narrow container-game">

<!--   <div class="row">
    <img src="img/fc/flip-cup-header-2.jpg" width="940">
  </div>

  <hr> -->

  <div class="row">
    <h2>Flip Cup</h2>
    <p>Great for getting a party started, or taking a break for other games. Flip cup is a fast moving, beer chugging, game and should only take a few minutes to complete. This game works best with large teams of four or more, but can be adapted to work with smaller teams.</p>  
  </div>


  <hr>

  <div class="row">

    <div class="col col-md-3">
      <h3>Supplies</h3>
      <p>Cups (1 for each player)</p>
      <p>Beer (amount depends on number of players)</p>
      <p>A long table (a beer poing table or simmilar works great)</p>
        
    </div> <!-- .col -->

    <div class="col-md-9">
      <h3>How to Play</h3>
      <p>Start by dividing players into two equal teams. Each player stands shoulder to shoulder, next to their teammates, along the long side, of the table. Next each player fills their cup with beer (players should agree how full to fill the cups before starting).</p>
      <p>To start the game someone yells “GO!” </p>
      <p>After hearing “GO” the first player on each team chugs their beer and sets it down on the edge of the table. Half of the bottom of the cup should be hanging over the edge of the table. Once setting their cup down, the player attempts to flip the cup and land it upside down on the table. If the player is successful the next player on their team can start chugging and attempt to flip their cup. </p>
      <p>The first team to chug all of their beer and flip their cups upside down wins.</p>      
    </div>

  </div> <!-- .row -->


</div>
