<div class="container container-narrow container-game">

  <div class="row">
      <h5><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 4+ </h5> 
      <h5><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 2-3m </h5> 
      <h5><span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Moderate </h5> 
      
      <h3>Game Overview</h3>
      <p>Flip cup is a fast paced beer chugging game.</p>      

  </div>

  <hr>


  <div class="row">
    <div class="col-md-12">
      <p>Want to contribute to the site? Send Chuck an <a href="mailto:drunkwithchuck@gmail.com" target="_blank">email</a>.</p>
    </div><!-- .col -->
  </div><!-- .row -->


</div>
