


<section class="intro">
  <div class="container">
    <h1>Drunk With Chuck. Online.</h1>
    <p>Booze. Internet. Games. It doesn't get more fun than that. The best place for drinking games and drinking game rules. Period.</p>
  </div>
</section>




<section class="newest-promo section-white">
  <div class="container">
  <p><br></p>
  </div>
</section> 




<section class="games section-tan">
  <div class="container">
    <h2>Awesome Drinking Games Currently Available</h2>
    <p class="lead">Turn that borning night &amp; party into a rocking good time</p>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="/powerhour" class="thumbnail">
          <img src="img/home/power-hour-thumb-2.png">
        </a>
      </div><!-- .col -->
      <div class="col-xs-6 col-md-3">
        <a href="/kingscup" class="thumbnail">
          <img src="img/home/kings-cup-thumb.png">
        </a>
      </div><!-- .col -->
      <div class="col-xs-6 col-md-3">
        <a href="/boxing" class="thumbnail">
          <img src="img/home/boxing-thumb.png">
        </a>
      </div><!-- .col -->
      <div class="col-xs-6 col-md-3">
        <a href="/beerpong" class="thumbnail">
          <img src="img/home/beer-pong-thumb.png">
        </a>
      </div><!-- .col -->

    </div><!-- .row -->
  </div><!-- .container -->
</section>







