<div class="container container-narrow">    

  <!-- Gamer Header -->
  <div ng-include='"templates/game-header.html"'></div>


  <hr>

  <div class="row"> <!-- Card Area -->
    <button class="btn btn-success btn-lg" role="button" ng-click="draw()">Draw</button> <!-- start button -->
    <button class="btn btn-info btn-lg pull-right" role="button" ng-click="reset()">Reset</button> <!-- reset button -->        
    <div class="row center"> <!-- card thumbnail and counters-->
      <div class="col-md-6">
        <h3>Current Card</h3>
        <img src="{{cardImg}}" width="200" ng-show="hideCard">
      </div>
      <div class="col-md-6">
        <h3>Card Remaining</h3>
        <div class="card-counter">{{cardCount}}</div>
        <h3>Kings Remaining</h3>
        <div class="card-counter">{{kingCount}}</div>
        <h3>{{cardTitle}}</h3>
        <div >{{cardDescription}}</div>
      </div>            
    </div><!-- End center -->
  </div><!-- .row -->



  <hr>


  <div class="row">
      <h3>Game Overview</h3>
      <p>Kings cup is a fun social drinking game. Players take turns drawing cards from a deck. Each card has an associated mini game.</p>
      <h3>What You'll Need</h3>
      <ul>
        <li>Some friends</li>
        <li>Drinks (1 for each player). Tip: A good mix of drinks (beer, cocktails, wine coolsers) makes the game more intersting.</li>
        <li>A deck of cards or the virtual deck below</li>
      </ul>
      <h3>How to Play</h3>
      <p>Click the "Draw" button below to draw a card. Follow the instructions associated with the card you drew. If you draw a king you can add drinks to the kings cup. If you draw the 4th king, you must drink the contents of the center cup.</p>
  </div><!-- .row -->


</div> <!-- .container -->
