<div class="container container-narrow container-game">


  <!-- Gamer Header -->
  <div ng-include='"templates/game-header.html"'></div>

  <hr>

  <div class="row">
      <button class="btn btn-success btn-lg" role="button" ng-click="start(30) | trackEvent:'Power Hour':'Start button clicked'" ng-disabled="disableStart">Start</button>
      <button class="btn btn-info btn-lg pull-right" role="button" ng-click="reset() | trackEvent:'Power Hour':'Reset button clicked'">Reset</button>
      <div class="row"ng-hide="hideMeters">
          <div class="col-md-6">
              <div sec-meter ></div>
          </div> <!-- End col 1 -->

          <div class="col-md-6">
              <div shot-meter></div>
          </div> <!-- End col 2-->

      </div>
      <div class="row" ng-show="showComplete">
        <h1>You survived the power hour!</h1>
        Click reset to play again.
      </div>
  </div><!-- .row -->


  <hr>


  <div class="row">
    <h5><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Unlimited </h5> 
    <h5><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 60m </h5> 
    <h5><span class="glyphicon glyphicon-glass" aria-hidden="true"></span> High </h5> 
      <h3>Game Overview</h3>
      <p>Power hour is a simple yet challenging drinking game. The objective is to drink one shot of beer each minute for an hour. Make it to the end and you'll have downed 7-8 beers.</p>
      <h3>What You'll Need</h3>
      <ul>
        <li>1 shot glass for each player</li>
        <li>Lots of beer (7-8 for each player)</li>
        <li>The power hour timer below</li>
      </ul>
      <h3>How to Play</h3>
      <p>Fill a shot glass with beer and start the timer below. Everytime you hear a tone down another shot of beer.</p>
  </div> <!-- .row -->
</div><!-- .container --> 
