<html>
  <head>
    <title>Beer Pong - Drinking Game</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#dwc-navbar-callapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="dwc-navbar-callapse">
           <ul class="nav navbar-nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="ph.html">Power Hour</a></li>
              <li><a href="kingscup.html">Kings Cup</a></li>
              <li class="active"><a href="boxing.html">Boxing</a></li>
              <li><a href="bp.html">Beer Pong</a></li>
            </ul>         
          </div>
        </div>
      </nav>
    <div class="container container-narrow">
        <!-- Static navbar -->

      <div class="row">
        <div class="well">
          <h3>Game Overview</h3>
          <p>Boxing is a fun team base game. The game works best with teams of 2, but can be played with teams of 1. Boxers (drinkers) compete in 3 minute rounds until the opposing boxer pukes or quits. The cornermen (non drinking team members) help fill shot glasses during rounds and provide much needed moral support.</p>
          <h3>What You'll Need</h3>
          <ul>
            <li>2 shot glasses</li>
            <li>Alcohol of choice</li>
            <li>2 dice (virtual dice porvided below)</li>
            <li>A stopwatch/timer (provided below)</li>
          </ul>
          <h3>How to Play</h3>
          <p>The cornermen for each team fill the boxers shot glass. Each boxer takes the first shot and starts the timer, then rolls the dice. The boxer that rolls the lowest number has to drink. The cornermen quickly fill the shot glasses again and the boxers roll the dice again. This repeats for 3 minutes. After 3 minutes the boxers get a 30 second break before starting another round.</p>
        </div>
      </div> 
      <div class="row">
        <div class="well">
          <div ng-app="box">   
            <button class="btn btn-success btn-lg" role="button" ng-click="start(30)" ng-disabled="disableStart">Roll</button>
            <button class="btn btn-info btn-lg pull-right" role="button" ng-click="reset()">Reset</button>

          </div>
        </div>
      </div>
    
        <div class="adsense-footer">
          <!-- DWC -->
          <ins class="adsbygoogle"
            style="display:inline-block;width:728px;height:90px"
            data-ad-client="ca-pub-2345712800368375"
            data-ad-slot="4832362869"></ins>
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
        
        <div class="footer center">
          <p> <a href="#">Contact Us</a>  | <a href="#">Disclaimer</a> | <a href="#">Privacy Policy</a></p>
        </div>
        
      </div>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/ngbox.js"></script>    
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="js/ngph.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36039568-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>