<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Drunk With Chuck | Drinking Games</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#dwc-navbar-callapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="dwc-navbar-callapse">
           <ul class="nav navbar-nav">
              <li><a href="index.html">Home</a></li>
              <li class="active"><a href="ph.html">Power Hour</a></li>
              <li><a href="kingscup.html">Kings Cup</a></li>
              <li><a href="#">Boxing</a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Game Helpers</a></li>
            </ul>         
          </div>
        </div>
      </nav>
    <div class="container container-narrow">
        <!-- Static navbar -->

      <div class="row">
        <div class="well">
          <h3>Game Overview</h3>
          <p>Power hour is a simple yet challenging drinking game. The objective is to drink one shot of beer each minute for an hour. Make it to the end and you'll have downed 7-8 beers.</p>
          <h3>What You'll Need</h3>
          <ul>
            <li>1 shot glass for each player</li>
            <li>Lots of beer (7-8 for each player)</li>
            <li>The power hour timer below</li>
          </ul>
          <h3>How to Play</h3>
          <p>Fill a shot glass with beer and start the timer below. Everytime you hear a tone down another shot of beer.</p>
        </div>
      </div>
      <div class="row">
        <div class="well">
            <div ng-app="phr" ng-controller="timerController">   
              <button class="btn btn-success btn-lg" role="button" ng-click="start(30)" ng-disabled="disableStart">Start</button>
              <button class="btn btn-info btn-lg pull-right" role="button" ng-click="reset()">Reset</button>
              <div class="row"ng-hide="hideMeters">
                  <div class="col-md-6">
                      <div sec-meter ></div>
                  </div> <!-- End col 1 -->

                  <div class="col-md-6">
                      <div shot-meter></div>
                  </div> <!-- End col 2-->

              </div>
              <div class="row" ng-show="showComplete">
                <h1>You survived the power hour!</h1>
                Click reset to play again.
              </div>
              <hr>
              <div class="adsense-footer">
                <!-- DWC -->
                <ins class="adsbygoogle"
                  style="display:inline-block;width:728px;height:90px"
                  data-ad-client="ca-pub-2345712800368375"
                  data-ad-slot="4832362869"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="js/ngph.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36039568-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>