<div class="container container-narrow">

  <div class="row">
      <h3>Chuck's Drinking Tips</h3>
      <p>Here you'll find Chuck's tips for maintaining the fun.</p>
      <div class="row">
        <h3>Low Sleep System</h3>
        <p>You might find yourself in a situation where you need to balance going out with future responibilities. For Chuck this often happens when traveling. For example you might have a tour scheduled early the next morning, or maybe your traveling for work. These are Chuck's tips for making the most of your time.</p>
        <p>Sleep: Everyone has differnt requirements for sleep. You need to decide up front how much sleep you need to function the next day. </p>
        <div class="col-md-9">
          <ul>
            <li>10 cups</li>
            <li>4 beers</li>
            <li>2 ping pong balls</li>
            <li>A sturdy table</li>
          </ul>
        </div>        
      </div>
      
      
      <h3>How to Play</h3>
      <p>This is always a topic of debate. Everyone has their own rules for playing beer pont. See Chuck's House Rules below for our reccomendation.</p>
  </div><!-- .row -->

</div>
