<section class="footer section-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-2">
        <h4>Contact</h4>
        <p><a href="#">Something</a></p>
        <p><a href="#">else</a></p>
      </div><!-- .col -->
      <div class="col-sm-2">
        <h4>Contact</h4>
        <p><a href="#">Something</a></p>
        <p><a href="#">else</a></p>
      </div><!-- .col -->
      <div class="col-sm-2">
        <h4>Contact</h4>
        <p><a href="#">Something</a></p>
        <p><a href="#">else</a></p>
      </div><!-- .col -->
      <div class="col-sm-2">
        <h4>Contact</h4>
        <p><a href="#">Something</a></p>
        <p><a href="#">else</a></p>
      </div><!-- .col -->
    </div><!-- .row -->

    <div class="adsense-footer">
      <!-- DWC -->
      <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-2345712800368375"
        data-ad-slot="4832362869"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div><!-- .adsense-footer -->
        <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36039568-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script> <!-- .analytics -->

  </div><!-- .container -->
</section>
